$fontFamily: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontColor: rgba(255, 255, 255, 0.87);
$backgroundColor: #242424;

$wideScreenWidth: 1920px;
$desktopScreenWidth: 1280px;
$tabletScreenWidth: 768px;
$mobileScreenWidth: 320px;
